{* This is the welcome page, you can delete it *}

{block content}
{/block}

{block scripts}
{include parent}
<script src="https://files.nette.org/sandbox/jush.js"></script>
{/block}

{block head}
{/block}
